*{
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
    background-color: #ec9646;
}
ul{
    list-style-type: none;
}
div{
    border-radius: 25px;
}
button{
    background-color: black;
    color: orange;
    border-radius: 25px;
    padding: 7px;
    font-size: 12px;
}
label{
    font-weight: bold;
    font-size: 14px;
}
ul{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
li{
    word-wrap: break-word;
}
h1{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(184, 130, 24);
    text-shadow: 4px 0px 4px black, -4px 0px 4px black, 0px 4px 4px black, 0px -4px 4px black;
}
.textInput{
    background-color: black;
    color: orange;
    border-radius: 25px;
    text-align: center;
}
.verticalSpace{
    margin-top: 25px;
}
.tinyVerticalSpace{
    margin-top: 15px;
}
.horizontalSeparator{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
}
.messageDiv{
    background: black;
    text-align: center;
    color: darkturquoise;
    margin-right: 20%;
    margin-left: 20%;
    height: 350px;
    overflow: auto;
}
.inputDiv{
    background-color: rgba(88, 67, 22, 0.575);
    padding: 15px;
    margin-top: 5px;
    margin-right: 20%;
    margin-left: 20%;
}
.message{
    font-size: 14px;
}
.imageMessage{
    width: 90%;
    height: auto;
}
.audioMessage{
    height: 26px;
    border-radius: 25px;
}
.messageInput{
    text-align: start;
}
.imageInput{
    visibility: hidden;
    z-index: -1;
    position: absolute;
}
.imageLabel{
    background-color: black;
    color: orange;
    border-radius: 25px;
    padding: 7px;
    font-size: 12px;
}
/*for mobile*/
@media only screen and (max-width: 600px){
    h1{
        font-size: 40px;
    }
    label{
        font-size: 16px;
    }
    button{
        font-size: 14px;
    }
    .messageDiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .audioMessage{
        width: 80%;
    }
    .inputDiv{
        font-size: 16px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .verticalSpace{
        margin-top: 30px;
    }
    .tinyVerticalSpace{
        margin-top: 20px;
    }
}