*{
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
    background-color: #212A3E;
}
ul{
    list-style-type: none;
}
div{
    border-radius: 25px;
}
button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 7px;
    font-size: 12px;
}
label{
    font-weight: bold;
    font-size: 14px;
}
ul{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
li{
    word-wrap: break-word;
}
h1{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkturquoise;
    text-shadow: 6px 0px 6px black, -6px 0px 6px black, 0px 6px 6px black, 0px -6px 6px black;
}
.headerInfo{
    color: #eee;
}
.textInput{
    background-color: black;
    color: white;
    border-radius: 25px;
    text-align: center;
}
.verticalSpace{
    margin-top: 25px;
}
.tinyVerticalSpace{
    margin-top: 15px;
}
.horizontalSeparator{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    font-size: 20px;
}
.messageDiv{
    background: black;
    text-align: center;
    color: darkturquoise;
    margin-right: 20%;
    margin-left: 20%;
    height: 350px;
    overflow: auto;
}
.inputDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #304867;
    padding: 15px;
    margin-top: 5px;
    margin-right: 20%;
    margin-left: 20%;
}
.message{
    font-size: 14px;
}
.imageMessage{
    width: auto;
    height: 290px;
}
.audioMessage{
    height: 26px;
    border-radius: 25px;
}
.fileMessage{
    font-weight: bold;
    font-size: 12px;
    background-color: #304867;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    padding: 2px 6px;
}
.messageInput{
    text-align: start;
    width: 80%;
    max-width: 350px;
}
.imageInput{
    visibility: hidden;
    z-index: -1;
    position: absolute;
}
.imageLabel{
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 7px;
    font-size: 12px;
}
.sendButton{
    border-radius: 25px;
    margin: 5px;
    width: 60px;
    height: 35px;
}
.actionButton{
    margin: 0 10px;
    width: 140px;
    height: 35px;
    word-wrap: break-word;
}
.actionButtonDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
    margin-right: 20%;
    margin-left: 20%;
    overflow-x: auto;
}
.imagePanel{
    display: flex;
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contentImagePanel{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.audioRecorderPanel{
    display: flex;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    border-radius: 0px;
}
.audioRecorderSubPanel{
    display: flex;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    flex-direction: column;
    background-color: #304867;
}
.audioRecorderButtonDiv{
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    height: 10%;
    justify-content: space-around;
}
.audioRecorderButton{
    width: 80px;
    height: 30px;
}
.displayAudioRecorder{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.displayAudioRecorderDiv{
    display: block;
    margin-top: 15px;
    text-align: center;
    align-items: center;
}
.timeAudioRecorder{
    font-weight: bold;
    font-size: 56px;
    text-align: center;
}
.timeAudioRecorderDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px;
    margin-top: 30px;
    height: 80%;
    text-align: center;
    align-items: center;
}
.dialogPanel{
    display: flex;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    border-radius: 0px;
}
.dialogSubPanel{
    display: flex;
    width: 400px;
    height: 250px;
    margin: 0 auto;
    flex-direction: column;
    background-color: #304867;
}
.dialogMessageDiv{
    display: flex;
    margin: 10px 20px;
    margin-top: 30px;
    word-wrap: break-word;
    overflow-y: auto;
    height: 80%;
    text-align: center;
    align-items: center;
}
.dialogMessage{
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
.dialogButtonDiv{
    display: flex;
    margin: 10px 20px;
    height: 10%;
    justify-content: space-around;
}
.dialogButtom{
    width: 80px;
    height: 30px;
}
.loadingPanel{
    background-color: #212a3e;
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
}
.loadingImage{
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    animation: spin .75s infinite;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/*for mobile*/
@media only screen and (max-width: 600px){
    h1{
        font-size: 40px;
    }
    label{
        font-size: 16px;
    }
    button{
        font-size: 14px;
    }
    .dialogSubPanel{
       width: 90%;
       height: 60%; 
    }
    .audioRecorderSubPanel{
        width: 90%;
        height: 60%;
    }
    .messageDiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .actionButtonDiv{
        margin-left: 10px;
        margin-right: 10px;
    }
    .actionButton{
        height: 45px;
    }
    .audioMessage{
        width: 80%;
    }
    .inputDiv{
        font-size: 16px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .verticalSpace{
        margin-top: 30px;
    }
    .tinyVerticalSpace{
        margin-top: 20px;
    }
}

/*for tiny mobile*/
@media only screen and (max-width: 300px){
    .timeAudioRecorder{
        font-size: 38px;
    }
    .sendButton{
        width: 40px;
        height: 40px;
    }
    button{
        font-size: 10px;
    }
}